<% provide(:title) %>

<div class="center jumbotron">
  <%= link_to image_tag("pinColins.png"), alt: "Colin Stodd" %>
  <h2>Welcome to my personal web application</h2>
  <%= link_to "Follow Me!", contact_path, class: "btn btn-large btn-primary" %>
</div>
