@import "bootstrap";

/* Colors, mixins, etc..*/

$darkerGrey: #222;
$darkGrey: #333;
$grey: #555;
$lightGrey: #999;

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}



/* universal */

html {
  overflow-y: scroll;
}

body {
  padding-top: 60px;
  background-image: url("cream_dust.png");

}

section {
  overflow: auto;
}

.navbar {
  background-color: #eee;


}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
  margin-bottom: 10px;
  }
}
/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 4em;
  font-family: Helvetica Neue;
  font-weight: normal;
  color: $grey;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.5em;
  letter-spacing: 0px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #999;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: $grey;
  text-transform: lowercase;
  letter-spacing: -1px;
  padding-top: 12px;
  font-weight: normal;
  line-height: 1;
  &:hover {
  color: $grey;
  text-decoration: none;
  }
}
/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: $lightGrey;
  a {
  color: $grey;
    &:hover {
    color: $darkerGrey;
    text-decoration: none;
    }
  }
  small {
  float: left;
  }

  ul {
  float: right;
  list-style: none;
    li {
  float: left;
  margin-left: 10px;
    }
  }
}


/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* sidebar */

aside {
  section {
    padding: 10px 0;
    border-top: 1px solid $lightGrey;
    &:first-child {
      border: 0;
      padding-top: 10px;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}

/* forms */

.form {
  margin-left: 30%;
}

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

.button {
  max-width: 150px;
  min-width: 150px;
}

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}
